<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Side Navbar with Icons</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex">
    <nav class="bg-gray-900 h-screen w-32 text-white">
      <ul>
        <li>
          <a href=""><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li><a href="">Music</a></li>
        <li><a href="">Genres</a></li>
        <li><a href="">My Library</a></li>
        <li><a href="">Settings</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div class="flex-1 p-6"></div>
  </body>
</html>
