{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IndieSphere | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body class="bg-zinc-800 flex">
    <nav class="bg-zinc-900 h-screen w-80 text-white">
      <div class="p-3 flex items-center justify-center">
        <i class="fa-solid fa-bell p-1"></i>
        <h1 class="p-2">IndieSphere</h1>
      </div>
      <hr class="p-1">
      <ul class="flex-list items-center justify-center">
        <li class="flex items-center hover:bg-gray-700 p-2">
          <a href="">
            <i class="fa-solid fa-house p-2"></i>Home
          </a>
        </li>
        <li class="flex items-center hover:bg-gray-700 p-2">
          <a href="" class="">
            <i class="fa fa-music p-2"></i>Music
          </a>
        </li>
        <li class="flex items-center hover:bg-gray-700 p-2">
          <a href="" class="">
            <i class="fa-solid fa-headphones p-2"></i>Genres
          </a>
        </li>
        <li class="flex items-center hover:bg-gray-700 p-2">
          <a href="">
            <i class="fa-solid fa-book p-2"></i>Library
          </a>
        </li>
        <li class="flex justify-content items-center hover:bg-gray-700 p-2">
          <a href="{% url 'sign_up' %}">
            <i class="fas fa-sign-in p-2"></i>Sign Up
          </a>
        </li>
        <li class="flex justify-content items-center hover:bg-gray-700 p-2">
          <a href="">
            <i class="fa-solid fa-person p-2"></i>Login
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div class="p-4">
      <div class="music-page">
        <h2 class="p-2 text-white">
          <strong>Our Music</strong>
        </h2>
        <div class="grid-container grid grid-cols-4 gap-4">
          <div class="current-music col-span-4 row-span-2 relative inset-0 transition-all duration-300 hover:scale-101">
            <img src="{% static 'images/album-1.jpg' %}" alt="" class="w-full rounded-lg max-h-80 object-cover">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col justify-start space-y-2 p-10">
              <h3 class="text-white">Your Music</h3>
              <h3 class="text-white font-bold text-2xl">On Repeat</h3>
            </div>
          </div>
          <div class="current-music relative inset-0 transition hover:blur-sm">
            <img src="{% static 'images/album-2.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold z-10">Deep Focus</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-3.jpg' %}" alt="" class="rounded-lg max-h-80 hover:blur-none">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Hip-Hop</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-5.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Workout</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-8.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Beach</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-7.jpg' %}" alt="" class="rounded-lg h-full">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Classical Music</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-10.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Jazz</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-11.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Disco</h3>
            </div>
          </div>
          <div class="current-music relative inset-0">
            <img src="{% static 'images/album-4.jpg' %}" alt="" class="rounded-lg max-h-80">
            <div class="absolute inset-0 bg-transparent bg-opacity-50 flex flex-col items-center justify-center">
                <h3 class=" text-white text-center text-2xl font-bold">Techno</h3>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
